body{
    background-color: #769bbf;
    //background-image: url('img/60-lines.png');
    color: #eee;
}

a{
    &:focus, &:visited, &:hover{
        color: white;
    }
}

#main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #inputButtons{
        margin-top: 1.5%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        width: 30%;
        height: 6%;

        button{
            background-color: #fff;
            width: 30%;
            height: 100%;
            border-radius: 3px;
            border: none;
            outline: none;
            filter: drop-shadow(2px 2px 3px gray);
            //overflow: auto;

            &:hover{
                cursor: pointer;
            }

            &:active{
                background-color: #eee;
            }
        }
    }

    
    #cityButtons{
        width: 40%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

    }
}

#inputDiv{
    height: 7%;
    width: 30%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    #inputImgWrapper{
        width: 10%;
        height: 100%;
        padding-left: 1%;
        padding-right: 2%;
        background-color: white;
        border-radius: 3px 0px 0px 3px;

        div{
            height: 15%;
            width: 100%;
        }

        img{
            height: 85%;
            width: 100%; 
            align-items: center; 
        }
    }

    #input{
        height: calc(100% - 2px);
        width: 90%;
    }

    input[type=text]{
        font-size: 20px;
        border-bottom: black;
        border-style: none;
        background-color: white;
        border-radius: 0px 3px 3px 0px;
    
        &:focus{
            outline: none;
        }
    }
}

#dataWrapper{
    width: 80%;
    height: 50%;
    position: relative;

    #imgWrapper{
        position: absolute;
        right: 3%;
        top: 3%;
        width: 5vmax;
        height: 5vmax;
        border-radius: 50%;
        text-align: center;
        line-height: 5vmax;
        vertical-align: middle;

        img{
            margin-top: -1.3px;
            border-radius: 50%;
        }
    }
    
    

    #dataOuter{
        height: 95%;
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    #airData{
        background: #777;
        display: grid;
        grid: 1fr 1fr / 1fr 1fr 1fr 1fr;
        gap: 0px 20px;
        padding: 0px 10px;
        border-radius: 5px;
        filter: drop-shadow(2px 2px 4px #222);
        p{
            background-color: #eee;
            padding: 5px;
            color: #777;
            border-radius: 5px;
            border: 1px solid gray;
        }
    }
}

.buttonClass{
    :hover{
        cursor: pointer;
    }

    height: 80%;
    width: 15%;
    border-radius: 3px;
    background-color: #eee;
    overflow: auto;
    outline: none;
    border: none;
    filter: drop-shadow(2px 2px 5px gray);
    cursor: pointer;

    &:active{
        background-color: #ddd;
    }
}


@keyframes rollout {
    0% { transform: translateX(-100px); opacity: 0;}
    100% { transform: translateX(0); opacity: 1;}
  
}

@for $i from 0 through 4 {
    #cityButtons button:nth-child(#{$i + 1}) {
        animation: rollout 1s ease-in;
        animation-delay: #{$i * 0.15}s;
    }
}