$backColor: #718ac0;
$lightBack: #bbc7e1;
$cityBoxColor: #4e6db0;
$dataBoxColor: #4e6db0;
$font: 'Noto Serif KR', serif;
$buttonFont: 'Noto Serif KR', serif;
$dropShadow: drop-shadow(1px 1px 2px lighten(black, 20%));

html{
    font-size: 50%;
}

body{
    background-image: url('img/60-lines.png'), linear-gradient(to bottom,$backColor, $lightBack);
    color: #eee;
    font-family: $font;
    font-size: 1.8rem;
}

a{
    color: lighten(black, 20%);
    &:focus, &:visited, &:hover{
        color: lighten(black, 20%);
    }
}

#main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    caret-color: $lightBack;

    #inputButtons{
        margin-top: 1.5%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        width: 15%;
        height: 4%;

        button{
            font-family: $buttonFont;
            background-color: #fff;
            width: 30%;
            height: 100%;
            border-radius: 3px;
            border: none;
            outline: none;
            filter: $dropShadow;
            font-size: 1.5rem;
            //overflow: auto;

            &:hover{
                cursor: pointer;
            }

            &:active{
                background-color: #eee;
            }
        }
    }

    #alert{
        min-width: 50%;
        min-height: 4%;
        text-align: center;
    }

    
    #cityButtons{
        width: auto;
        min-width: 330px;
        height: 7%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 4px;
        padding: 5px .5% 5px .5%;
        
        filter: $dropShadow;
        gap: 3px;

        .buttonClass{
            :hover{
                cursor: pointer;
            }
            font-size: 1.5rem;
        
            height: 84%;
            width: 15%;
            min-width: 100px;
            border-radius: 3px;
            background-color: #fff;
            outline: none;
            border: none;
            filter: $dropShadow;
            cursor: pointer;
            font-family: $buttonFont;
            overflow: hidden;
        
            &:active{
                background-color: #eee;
            }
        }
    }
}

#inputDiv{
    height: 7%;
    width: 30%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    #inputImgWrapper{
        width: 10%;
        height: 7vh;
        padding-left: 1%;
        padding-right: 2%;
        background-color: white;
        border-radius: 3px 0px 0px 3px;

        div{
            height: 15%;
            width: 100%;
        }

        img{
            height: 85%;
            width: 100%; 
            align-items: center; 
        }
    }

    #input{
        height: calc(100% - 2px);
        width: 90%;
    }

    input[type=text]{
        font-size: 2.5rem;
        font-family: $buttonFont;
        border-style: none;
        border-bottom: black;
        background-color: white;
        border-radius: 0px 3px 3px 0px;
        padding-left: 5px;
        &:focus{
            outline: none;
        }
    }
}

#dataWrapper{
    margin-top: 2.5%;
    width: 60%;
    height: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    filter: $dropShadow;
    font-size: 2rem;

    #imgWrapper{
        position: absolute;
        right: 15%;
        top: 5.7%;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        text-align: center;
        line-height: 10rem;
        vertical-align: middle;

        img{
            margin-top: -1.3px;
            border-radius: 50%;
        }

        #aqi{
            margin-top: -65%;
        }
    }
    
    

    #dataOuter{
        height: 95%;
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 5px;

        h3{
            font-size: 2.5rem;
        }
    }

    #airData{
        width: 95%;
        height: 40%;
        align-self: center;
        background-color: $lightBack;
        display: grid;
        grid: 25% 25% / 23% 23% 23% 23%;
        gap: 20% 2%;
        padding: 0px 10px;
        border-radius: 5px;
        justify-content: center;
        filter: $dropShadow;
        p{
            height: 100%;
            background-color: #eee;
            color: #777;
            border-radius: 5px;
            text-align: center;
            filter: $dropShadow;
            
            span{
                vertical-align: middle;
            }
        }
    }

    #batch{
        font-size: 1.2rem;
        margin: none;
        padding: none;;
    }
}


@keyframes rollout {
    0% { transform: translateX(-100px); opacity: 0;}
    100% { transform: translateX(0); opacity: 1;}
  
}

@keyframes dark-color-change {
    0% {}
    100% {background-color: $backColor;}
}

.dark-color-change{
    animation: dark-color-change .5s ease-in;
    animation-fill-mode: forwards;
}

@keyframes light-color-change {
    0% {}
    100% {background-color: $lightBack;}
}

.light-color-change{
    animation: light-color-change .5s ease-in;
    animation-fill-mode: forwards;
}

@for $i from 0 through 4 {
    #cityButtons button:nth-child(#{$i + 1}) {
        animation: rollout .5s ease-in;
        animation-delay: #{$i * 0.075}s;
    }
}

.fade-in{
    animation: fade-in .5s ease-in;
}

@keyframes fade-in{
    0% {opacity: 0;}
    100% {opacity: 1;}
}


@media all and (min-width: 50px)   {  html  { font-size:0.02em;  } }
@media all and (min-width: 100px)  {  html  { font-size:0.04em;  } }
@media all and (min-width: 200px)  {  html  { font-size:0.08em;  } }
@media all and (min-width: 300px)  {  html  { font-size:0.13em;  } }
@media all and (min-width: 400px)  {  html  { font-size:0.16em;  } }
@media all and (min-width: 500px)  {  html  { font-size:0.21em;  } }
@media all and (min-width: 600px)  {  html  { font-size:0.23em;  } }
@media all and (min-width: 700px)  {  html  { font-size:0.29em;  } }
@media all and (min-width: 800px)  {  html  { font-size:0.3em;  } }
@media all and (min-width: 900px)  {  html  { font-size:0.32em;  } }
@media all and (min-width: 1000px) {  html  { font-size:0.36em;  } }
@media all and (min-width: 1100px) {  html  { font-size:0.40em;  } }
@media all and (min-width: 1200px) {  html  { font-size:0.46em;  } }
@media all and (min-width: 1300px) {  html  { font-size:.50em;  } }
@media all and (min-width: 1400px) {  html  { font-size:.56em;  } }
@media all and (min-width: 1500px) {  html  { font-size: 60em;  } }
@media all and (min-width: 1500px) {  html  { font-size:.62em;  } }
@media all and (min-width: 1600px) {  html  { font-size:.68em;  } }
@media all and (min-width: 1700px) {  html  { font-size:.72em;  } }


@media only screen and (orientation: portrait){
    html{font-size: .5em}
    
    #inputDiv{
        width: 70%;
    }

    #main{
        #inputButtons{
            margin-top: 3%;
            width: 70%;
        }
    }
    

    #dataWrapper{
        margin-top: 7%;
        width: 90%;
        height: 60%;
        font-size: 1.5rem;
    
        #imgWrapper{
            right: 10%;
            top: 5.7%;
            width: 8rem;
            height: 8rem;
    
            img{
                margin-top: -1.3px;
                border-radius: 50%;
            }
    
            #aqi{
                margin-top: -100%;
            }
        }
        
        
    
        #dataOuter{
            height: 95%;
            width: 95%;
    
            h3{
                font-size: 2.5rem;
            }
        }
    
        #airData{
            width: 95%;
            height: 40%;
            gap: 20% 2%;
            padding: 0px 10px;
            p{
                height: 100%;
            }
        }
    
        #batch{
            font-size: 1.2rem;
        }
    }
}