body {
  background-image: url("img/60-lines.png"), -webkit-gradient(linear, left top, left bottom, from(#82a4c5), to(#b2c7db));
  background-image: url("img/60-lines.png"), linear-gradient(to bottom, #82a4c5, #b2c7db);
  color: #eee;
  font-family: "Benne", serif;
}

a:focus, a:visited, a:hover {
  color: white;
}

#main {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  caret-color: #bfdfb4;
}

#main #inputButtons {
  margin-top: 1.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
  height: 4%;
}

#main #inputButtons button {
  font-family: "Benne", serif;
  background-color: #fff;
  width: 30%;
  height: 100%;
  border-radius: 3px;
  border: none;
  outline: none;
  -webkit-filter: drop-shadow(1px 1px 2px #333333);
          filter: drop-shadow(1px 1px 2px #333333);
}

#main #inputButtons button:hover {
  cursor: pointer;
}

#main #inputButtons button:active {
  background-color: #eee;
}

#main #alert {
  min-width: 50%;
  min-height: 4%;
  text-align: center;
}

#main #cityButtons {
  width: auto;
  min-width: 330px;
  height: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  padding: 5px .5% 5px .5%;
  -webkit-filter: drop-shadow(2px 2px 3px #333333);
          filter: drop-shadow(2px 2px 3px #333333);
  gap: 3px;
}

#main #cityButtons .buttonClass {
  height: 80%;
  width: 15%;
  min-width: 100px;
  border-radius: 3px;
  background-color: #fff;
  outline: none;
  border: none;
  -webkit-filter: drop-shadow(1px 1px 2px #333333);
          filter: drop-shadow(1px 1px 2px #333333);
  cursor: pointer;
  font-family: "Benne", serif;
  overflow: hidden;
}

#main #cityButtons .buttonClass :hover {
  cursor: pointer;
}

#main #cityButtons .buttonClass:active {
  background-color: #eee;
}

#inputDiv {
  height: 7%;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#inputDiv #inputImgWrapper {
  width: 10%;
  height: 100%;
  padding-left: 1%;
  padding-right: 2%;
  background-color: white;
  border-radius: 3px 0px 0px 3px;
}

#inputDiv #inputImgWrapper div {
  height: 15%;
  width: 100%;
}

#inputDiv #inputImgWrapper img {
  height: 85%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#inputDiv #input {
  height: calc(100% - 2px);
  width: 90%;
}

#inputDiv input[type=text] {
  font-size: 20px;
  font-family: "Benne", serif;
  border-bottom: black;
  border-style: none;
  background-color: white;
  border-radius: 0px 3px 3px 0px;
}

#inputDiv input[type=text]:focus {
  outline: none;
}

#dataWrapper {
  width: 80%;
  height: 50%;
  position: relative;
}

#dataWrapper #imgWrapper {
  position: absolute;
  right: 3%;
  top: 3%;
  width: 5vmax;
  height: 5vmax;
  border-radius: 50%;
  text-align: center;
  line-height: 5vmax;
  vertical-align: middle;
}

#dataWrapper #imgWrapper img {
  margin-top: -1.3px;
  border-radius: 50%;
}

#dataWrapper #dataOuter {
  height: 95%;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#dataWrapper #airData {
  background-color: #7677bf;
  display: -ms-grid;
  display: grid;
  grid: 1fr 1fr / 1fr 1fr 1fr 1fr;
  gap: 0px 20px;
  padding: 0px 10px;
  border-radius: 5px;
  -webkit-filter: drop-shadow(2px 2px 4px #222);
          filter: drop-shadow(2px 2px 4px #222);
}

#dataWrapper #airData p {
  background-color: #eee;
  padding: 5px;
  color: #777;
  border-radius: 5px;
  border: 1px solid gray;
}

@-webkit-keyframes rollout {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes rollout {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes color-change {
  0% {
  }
  100% {
    background-color: #bfdfb4;
  }
}

@keyframes color-change {
  0% {
  }
  100% {
    background-color: #bfdfb4;
  }
}

.color-change {
  -webkit-animation: color-change 1s ease-in;
          animation: color-change 1s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#cityButtons button:nth-child(1) {
  -webkit-animation: rollout 1s ease-in;
          animation: rollout 1s ease-in;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

#cityButtons button:nth-child(2) {
  -webkit-animation: rollout 1s ease-in;
          animation: rollout 1s ease-in;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

#cityButtons button:nth-child(3) {
  -webkit-animation: rollout 1s ease-in;
          animation: rollout 1s ease-in;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#cityButtons button:nth-child(4) {
  -webkit-animation: rollout 1s ease-in;
          animation: rollout 1s ease-in;
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

#cityButtons button:nth-child(5) {
  -webkit-animation: rollout 1s ease-in;
          animation: rollout 1s ease-in;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.fade-in {
  -webkit-animation: fade-in 1s ease-in;
          animation: fade-in 1s ease-in;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */